name: Build, Scan, and Deploy

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.meta.outputs.tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: meta
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: yadavshailendra0905/python-gitops:${{ steps.meta.outputs.tag }}

  scan:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: yadavshailendra0905/python-gitops:${{ needs.build.outputs.image_tag }}
          severity: CRITICAL,HIGH
          exit-code: 0

  sbom:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Generate SBOM (CycloneDX)
        uses: anchore/sbom-action@v0
        with:
          image: yadavshailendra0905/python-gitops:${{ needs.build.outputs.image_tag }}
          format: cyclonedx-json
          output-file: sbom.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v6
        with:
          name: sbom
          path: sbom.json

  bump-manifest:
    needs: scan
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update deployment image
        run: |
          sed -i "s|image: yadavshailendra0905/python-gitops:.*|image: yadavshailendra0905/python-gitops:${{ needs.build.outputs.image_tag }}|g" k8s/app/deployment.yaml

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/app/deployment.yaml
          git commit -m "chore: deploy image ${{ needs.build.outputs.image_tag }}" || exit 0
          git push
