
name: Build image and update manifests

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set variables
        run: echo "SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: |
            yadavshailendra0905/python-gitops:${{ env.SHA }}

      - name: Update deployment image tag
        run: |
          set -e
          sed -i "s|image: yadavshailendra0905/python-gitops:.*|image: yadavshailendra0905/python-gitops:${SHA}|g" k8s/app/deployment.yaml

      - name: Validate manifests (client-side)
        run: |
          # lightweight sanity check: YAML parses & basic schema checks
          python -c "import yaml; yaml.safe_load(open('k8s/app/deployment.yaml')); yaml.safe_load(open('k8s/app/service.yaml'))"

      - name: Commit and push manifest update
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/app/deployment.yaml
          git commit -m "chore: deploy image ${SHA}" || exit 0
          git push
